:root {
  --main-background: #1f2e4d;
  --main-gradient-red: linear-gradient(
    to top left,
    rgba(248, 3, 3, 0.993),
    rgb(255, 220, 22)
  );
  --main-gradient-blue: linear-gradient(
    to bottom right,
    rgba(52, 11, 236, 0.884),
    rgba(209, 7, 228, 0.685)
  );
  --facebook: #3b5998;
  --twitter: #55acee;
  --google-plus: #dd4b39;
  --linkedin: #0976b4;
  --instagram: #b7242a;
}

button.chatbox-open {
  position: relative;
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 55px;
  width: 52px;
  height: 52px;
  color: #fff;
  background-color: #0360a5;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(233, 81, 21, 0.15);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin: 16px;
  z-index: 999;
}

button.chatbox-close {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 52px;
  height: 52px;
  color: #fff;
  background-color: red;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin: 16px calc(2 * 16px + 52px) 16px 16px;
}

.chat-popup > .chat-form-container > textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: calc(16px + 16px / 2);
  padding: 0 calc(16px / 2);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  background-color: none;
  border: 0;
  outline: 0 !important;
  resize: none;
  overflow: hidden;
}
textarea::placeholder {
  color: #888;
}

.chatbox-popup {
  display: flex;
  position: fixed;

  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
  display: none;
  bottom: 80px;
  z-index: 999;
  right: 60px;
  width: 377px;
  height: auto;
  background-color: #fff;
  border-radius: 16px;
}
.chatbox-popup .chatbox-popup__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-image: #000;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
  margin-top: -32px;
  background-image: var(--main-gradient-red);
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.chatbox-popup .chatbox-popup__main {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 30px 20px;
  line-height: 30px;
  color: #888;
  text-align: center;
}
.chatbox-popup .chatbox-popup__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
